
{% extends "main/header.html" %}

{% load static %}

{% block content %}
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>{{ text.maintext }}</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">{{text.subtext}} </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#detector">Find Out More</a>
          </div>
        </div>
      </div>
    </header>






    <section id="detector">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-primary">Data Visualisation</h2>
            Real-time tweet analysis plots are shown below. The upper plot shows recent tweet rates relating to earthquakes.
            <br><br>
            The shaded blue regions indicated earthquakes detected from live tweets only using Twittermoto's detection algorithm.
            <br><br>
            The vertical dashed lines show seismic events as detected from <a href="https://earthquake.usgs.gov">USGS</a>.
            <br><br>
            The lower plot shows three sensitivities of detection algorithms. Values above 1 indicate that an earthquake has been detected.
            <br>
            <img src="data:image/png;base64,{{graphics|safe}}" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">What is Twittermoto?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">{{text.pitch}}</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>

          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>

          </div>
        </div>
      </div>
      <div class="container contact-form">

            <form method="post">
                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center">

                    <input type="submit" name="btnSubmit" class="btn btn-light btn-xl sr-button" value="Send Message" />
                </div>
            </form>
</div>
    </section>
{% endblock %}
